<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Ben & Jerry</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
	<link href="stylesheets/style.css" rel="stylesheet">
</head>
<header></header>
<body>
	{{{ body }}}
</body>
<footer></footer>
</html>