 <!-- CSS  -->
  
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">MIX IT UP!</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">MIXING</h1>
      <div class="row center">
        <h5 class="header col s12 light">This will hold our drink mixing api information.</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get To Mixing!</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">ADD INGREDIENT #1</h5>

            <p class="light">Please Choose Your Type Of Liquor To Add To The Mix!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center"> ADD INGREDIENT #2</h5>

            <p class="light">Please Add Your Type Of Juice/Sweetener To Add To The Mix!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">ADD INGREDIENT #3</h5>

            <p class="light">Please Add Any Fruit Or Edible Dacaries You Want To Add To The Mix!</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">MIXOLOGIST BIO</h5>
          <p class="grey-text text-lighten-4">We are a team of Fullstack developers working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">CONTACT</h5>
          <ul>
            <li><a class="white-text" href="#!">LISBETH MACHADO</a></li>
            <li><a class="white-text" href="#!">SARA WEBB</a></li>
            <li><a class="white-text" href="#!">MICHAEL GIOVANNI</a></li>
            <li><a class="white-text" href="#!">AARON NELSON</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">PARTNERSHIP</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      MADE BY <a class="orange-text text-lighten-3" href="http://materializecss.com"> THE MIXOLOGISTS</a>
      </div>
    </div>
  </footer>


