 <div class="row p-3 text-center">
        <div class="col">
            <h2>ADD INGREDIENT: ALCOHOL</h2>
            <form class="create-form border border-danger p-2">
                <div class="form-group">
                    <label for="bg">COCKTAIL NAME:</label>
                    <input type="text" id="bg" name="name">
                </div>
                <div style="padding-left: 70px;">
                    <button type="submit" class="btn btn-dark btn-lg">ADD COCKTAIL</button>
                </div>
            </form>
        </div>
    </div>

    <button class="devour btn btn-secondary btn-sm" data-id="{{id}}">
                        SUBMIT INGREDIENT
    </button>

    <div class="row p-3 text-center">
        <div class="col">
            <h2>ADD INGREDIENT: SWEETENER</h2>
            <form class="create-form border border-danger p-2">
                <div class="form-group">
                    <label for="bg">COCKTAIL NAME:</label>
                    <input type="text" id="bg" name="name">
                </div>
                <div style="padding-left: 70px;">
                    <button type="submit" class="btn btn-dark btn-lg">ADD COCKTAIL</button>
                </div>
            </form>
        </div>
    </div>

<button class="devour btn btn-secondary btn-sm" data-id="{{id}}">
                        SUBMIT INGREDIENT
</button>

    <div class="row p-3 text-center">
        <div class="col">
            <h2>ADD INGREDIENT: SOUR</h2>
            <form class="create-form border border-danger p-2">
                <div class="form-group">
                    <label for="bg">COCKTAIL NAME:</label>
                    <input type="text" id="bg" name="name">
                </div>
                <div style="padding-left: 70px;">
                    <button type="submit" class="btn btn-dark btn-lg">ADD COCKTAIL</button>
                </div>
            </form>
        </div>
    </div>
</div>

<button class="devour btn btn-secondary btn-sm" data-id="{{id}}">
                        SUBMIT INGREDIENT
 </button>